<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/data/mongo 
						http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">
	<beans>
		<mongo:mongo-client id="mongoClient" host="127.0.0.1" port="27017">
			<mongo:client-options connect-timeout="5000" connections-per-host="50" 
			threads-allowed-to-block-for-connection-multiplier="20"/>
		</mongo:mongo-client>
		<mongo:db-factory id="mongoDbFactory" dbname="any_database" mongo-ref="mongoClient"/>
		<mongo:mapping-converter id="mongoConverter" db-factory-ref="mongoDbFactory" base-package="evolution.entity"/>
		<!-- Define MongoTemplate -->
		<mongo:template id="mongoTemplate" db-factory-ref="mongoDbFactory" converter-ref="mongoConverter"/>
		<!-- Define MongoRepository -->
		<mongo:repositories mongo-template-ref="mongoTemplate" base-package="evolution.repository"/>
	</beans>
</beans>